* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: arial;
}


table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid;
    text-align: left;
    padding: 8px;
}