* {
    box-sizing: border-box;
    font-family: arial;
    color: hsl(0, 0%, 90%);
}

:not(ul, ol) {
    margin: 0;
    padding: 0;
}

.colored {
    color: goldenrod;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: medium;
    margin: 1px;
    padding: 7px;
    border-radius: 3px;
}

button:hover {
    background-color: hsl(0, 0%, 15%);
}

[contenteditable] {
    outline: none;
}

.active {
    background-color: hsl(0, 0%, 15%);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 15%);
    border-radius: 5px;
}

::-webkit-scrollbar:hover {
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid;
    text-align: left;
    padding: 7px;
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#homebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 20%);
}

#app-name {
    margin: 10px;
    cursor: default;
}

#user-btn {
    margin-right: 30px;
}

#user-btn:hover {
    background-color: hsl(0, 0%, 15%);
}

#content {
    flex: 1;
    overflow: auto;
    display: flex;
}

#filebar {
    width: 225px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: hsl(0, 0%, 15%);
}

#file-list {
    flex: 1;
    overflow: auto;
}

#new-file-btn {
    margin: 10px 30px;
    padding: 7px 10px;
    font-weight: bold;
    border-radius: 1000px;
}

#new-file-btn:hover {
    background-color: hsl(0, 0%, 20%);
}

#text-editor {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 10%);
}

#toolbar {
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.left-end {
    margin-left: 15px;
}

.right-end {
    margin-right: 15px;
}

#spacer {
    margin-right: auto;
    visibility: hidden;
}

#delete-note {
    margin-left: auto;
}

#text-content {
    flex: 1;
    overflow: auto;
    padding: 75px;
}