* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    color: hsl(0, 0%, 90%);
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 10%);
}

#container {
    background-color: hsl(0, 0%, 15%);
    width: fit-content;
    border-radius: 10px;
    padding: 30px 40px;
}

#container h1 {
    text-align: center;
    margin-bottom: 30px;
}

#container label {
    display: block;
    padding: 0 20px 3px 0;
}

#container input {
    display: block;
    width: 420px;
    outline: none;
    border: 2px solid hsl(0, 0%, 20%);
    border-radius: 25px;
    font-size: 16px;
}

#container .input {
    height: 50px;
    background: transparent;
    padding: 20px;
    margin-bottom: 20px;
}

#container .btn {
    background-color: hsl(0, 0%, 20%);
    height: 45px;
    cursor: pointer;
    font-weight: 600;
    margin: 20px 0;
}

#alt-link {
    justify-self: center;
}

#alt-link a {
    text-decoration: none;
    font-weight: 600;
}

#alt-link a:hover {
    text-decoration: underline;
}