* {
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
    color: hsl(0, 0%, 90%);
}

:not(ul, ol) {
    padding: 0;
}

button,
input {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 1px;
    padding: 7px;
    border-radius: 3px;
    font-size: 1em;
}

button:hover {
    background-color: hsl(0, 0%, 20%);
}

input:hover {
    background-color: hsl(0, 0%, 10%);
}

[contenteditable] {
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 33%);
    border-radius: 5px;
}

::-webkit-scrollbar:hover {
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.colored {
    color: goldenrod;
}

.active {
    background-color: hsl(0, 0%, 20%);
}

body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(0, 0%, 10%);
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#nav-container {
    background-color: hsl(0, 0%, 15%);
    border-bottom: 1px solid hsl(0, 0%, 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 30px 3px 7px;
}

#nav-container form {
    display: inline;
}

#content-container {
    flex: 1;
    overflow: auto;
    display: flex;
}

#file-nav-container {
    width: 250px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: hsl(0, 0%, 15%);
    border-right: 1px solid hsl(0, 0%, 20%);
}

#file-list {
    flex: 1;
    width: 100%;
    padding-top: 7px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#file-list button {
    text-align: left;
    overflow: hidden;
    text-wrap: nowrap;
    font-size: 1em;
    margin-left: 7px;
    margin-right: 7px;
    padding: 10px 30px;
}

#new-file-btn {
    margin: 10px;
    font-weight: bold;
}

#editor-container {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#toolbar {
    display: flex;
    padding: 10px 30px
}

#toolbar button:hover {
    background-color: hsl(0, 0%, 15%);
}

#p {
    margin-right: 15px;
}

#bold {
    margin-left: 15px;
}

#strikethrough {
    margin-right: 15px;
}

#insertUnorderedList {
    margin-left: 15px;
}

#spacer {
    margin-right: auto;
    visibility: hidden;
}

#delete-btn {
    margin-left: auto;
}

#note-editor {
    flex: 1;
    overflow: auto;
    padding: 75px;
}