<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
    <main>
        <div id="nav-container">
            <span>{{ username }}</span>
            <form action="{{ url_for('logout') }}" method="POST" style="display: inline;">
                {{ form.hidden_tag() }}
                {{ form.submit }}
            </form>
        </div>
        <div id="content-container">
            <div id="file-nav-container">
                <div id="file-list"></div>
                <button id="new-file-btn">New File</button>
            </div>
            <div id="editor-container">
                <div id="toolbar">
                    <button id="delete-btn">Delete</button>
                </div>
                <div id="note-editor" contenteditable="true"></div>
            </div>
        </div>
    </main>
</body>

</html>