<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>

<body>
    <h1>Log In</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
    {% for message in get_flashed_messages() %}
    <span style="color: red; display: block;">{{message}}</span>
    {% endfor %}
    <span>Don't have an account? <a href="{{url_for('signup')}}">Sign Up</a></span>
</body>

</html>