<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <h1>Sign Up</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
    {% if error == True %}
    <span style="color: red; display: block;">Username already exists.</span>
    {% endif %}
    <span>Already have an account? <a href="{{url_for('login')}}">Log In</a></span>
</body>

</html>